:root {
  --body-background: #000;

  --primary-text: #fff;
  --font-size1: 1.3rem;
  --font-size2: 1rem;
  --font-size3: 2rem;

  --span-colr: orange;
  --title-color: red;
}

body {
  background-color: var(--body-background);
}

h1,
p {
  color: var(--primary-text);
  text-align: center;
  font-size: var(--font-size3);
}

span {
  color: var(--span-colr);
  text-shadow: 2px 5px 3.5px rgba(255, 255, 255, 0.3);
  font-weight: 900;
}

.topic {
  text-decoration: underline;
  color: var(--title-color);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s ease;
}
input {
  padding: 5px 10px;
}
/* button {
  padding: 5px 14px;
  text-align: center;
  margin: 0 30px;
  padding: 10px 40px;
  background-color: var(--title-color);
  color: var(--primary-text);
  font-size: var(--font-size2);
  border-radius: 8px;
  box-shadow: 3px 5px 3px rgba(184, 128, 54, 0.3);
} */

.success {
  padding: 0;
  background-color: var(--span-colr);
  font-family: monospace;
}

.form__field {
  width: 60%;
  margin: auto;
  padding: 30px;
  background-color: var(--span-colr);
}

.form__field input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 15px;
  display: inline-block;
}

.form__field select {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  outline: none;
}

.__form {
  padding: 20px;
  width: 40%;
  margin: auto;
  text-align: center;
}
.__form input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
}
.__form select {
  width: 86%;
  padding: 10px;
  margin-bottom: 15px;
}
.table {
  width: 40%;
  padding: 20px;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
