#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 20px;
}

button {
  margin: 5px;
}

li {
  list-style: none;
}

select {
  padding: 6px;
  margin: 10px;
  bottom: none;
  outline: none;
}
